In [1]:
# standard python modules
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pydataset
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler


# my modules
import src.env as env
import src.wrangle as wrangle

# setting random seed to 7
np.random.seed(7)

## Exercises

In [2]:
df = wrangle.wrangled_zillow_2017()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140235 entries, 0 to 2140234
Data columns (total 9 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Unnamed: 0                    int64
 1   bedroomcnt                    float64
 2   bathroomcnt                   float64
 3   calculatedfinishedsquarefeet  float64
 4   taxvaluedollarcnt             float64
 5   yearbuilt                     float64
 6   taxamount                     float64
 7   fips                          float64
 8   propertylandusetypeid         float64
dtypes: float64(8), int64(1)
memory usage: 147.0 MB

### 1. Apply the scalers we talked about in this lesson to your data and visualize the results for the unscaled and scaled distribution.

In [21]:
to_int = list(df.columns)

In [22]:
to_int

['Unnamed: 0',
 'bedroomcnt',
 'bathroomcnt',
 'calculatedfinishedsquarefeet',
 'taxvaluedollarcnt',
 'yearbuilt',
 'taxamount',
 'fips',
 'propertylandusetypeid']

In [29]:
df = df[to_int].astype(int)
df = df.drop([0], axis = 1)

KeyError: '[0] not found in axis'

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140234 entries, 1 to 2140234
Data columns (total 9 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Unnamed: 0                    int64
 1   bedroomcnt                    int64
 2   bathroomcnt                   int64
 3   calculatedfinishedsquarefeet  int64
 4   taxvaluedollarcnt             int64
 5   yearbuilt                     int64
 6   taxamount                     int64
 7   fips                          int64
 8   propertylandusetypeid         int64
dtypes: int64(9)
memory usage: 147.0 MB

In [ ]:
'''
# make, fit, use:
columns_to_scale = ['bedrooms', 'bathrooms','tax_amount', 'sq_feet']
# make the object, put it into the variable scaler
scaler = MinMaxScaler()
# fit the object to my data:
train_scaled[columns_to_scale] = scaler.fit_transform(train[columns_to_scale])
'''

In [32]:
df.head()

,Unnamed: 0,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,propertylandusetypeid
1,6,3,4,1620,847770,2011,10244,6037,261
2,7,3,2,2077,646760,1926,7924,6037,261
3,11,0,0,1200,5328,1972,91,6037,261
4,14,0,0,171,6920,1973,255,6037,261
5,15,0,0,203,14166,1960,163,6037,261

In [38]:
df.columns = ['drop', 'bedrooms', 'bathrooms', 'sq_feet', 'tax_value', 'year_built', 'tax_amount', 'fips', 'property_type']

SyntaxError: invalid syntax (3697521254.py, line 1)

AttributeError: 'list' object has no attribute 'head'

In [ ]:
columns_to_scale = ['bedroomcnt','bathroomcnt','calculatedfinishedsquarefeet', 'fips']