In [1]:
# standard python modules
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pydataset
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler


# my modules
import src.env as env
import src.wrangle as wr

# setting random seed to 7
np.random.seed(7)

## Exercises

In [2]:
df, df30 = wr.wrangled_zillow_2017()

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df.head()

### 1. Apply the scalers we talked about in this lesson to your data and visualize the results for the unscaled and scaled distribution.

In [16]:
to_int = list(df.columns)

In [17]:
to_int

['Unnamed: 0',
 'bedroomcnt',
 'bathroomcnt',
 'calculatedfinishedsquarefeet',
 'taxvaluedollarcnt',
 'yearbuilt',
 'taxamount',
 'fips',
 'propertylandusetypeid']

In [18]:
df[(list(df.columns))].astype(int).head()

,Unnamed: 0,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,propertylandusetypeid
0,4,4,2,3633,296425,2005,6941,6037,261
1,6,3,4,1620,847770,2011,10244,6037,261
2,7,3,2,2077,646760,1926,7924,6037,261
3,11,0,0,1200,5328,1972,91,6037,261
4,14,0,0,171,6920,1973,255,6037,261

In [56]:
df.drop(columns=['drop'], inplace = True)

In [41]:
df.head()

,drop,bedrooms,bathrooms,sq_feet,tax_value,year_built,tax_amount,fips,property_type
1,6,3,4,1620,847770,2011,10244,6037,261
2,7,3,2,2077,646760,1926,7924,6037,261
3,11,0,0,1200,5328,1972,91,6037,261
4,14,0,0,171,6920,1973,255,6037,261
5,15,0,0,203,14166,1960,163,6037,261

In [4]:
df.head()

,Unnamed: 0,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,propertylandusetypeid
0,4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0,261.0
1,6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0,261.0
2,7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0,261.0
3,11,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0,261.0
4,14,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0,261.0

In [42]:
columns_to_scale = ['bedrooms', 'bathrooms', 'sq_feet', 'fips']

In [57]:
# dataframe which is a representative sample of 30% of the original dataframe
df30 = df.sample(frac = .30)

In [58]:
df30.count()

bedrooms         642070
bathrooms        642070
sq_feet          642070
tax_value        642070
year_built       642070
tax_amount       642070
fips             642070
property_type    642070
dtype: int64

In [3]:
df.count()

Unnamed: 0                      642070
bedroomcnt                      642070
bathroomcnt                     642070
calculatedfinishedsquarefeet    642070
taxvaluedollarcnt               642070
yearbuilt                       642070
taxamount                       642070
fips                            642070
propertylandusetypeid           642070
dtype: int64